root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,vue,json,jsonc,yaml,yml,md,css,scss,html}]
indent_size = 2

[*.{php,rs}]
indent_size = 4
